@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

/* Nav bar styles */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: rgb(27, 1, 35);
    color: white;
    padding: 10px;

}
.navbar li {
    /* list-style: none; */
    margin: 20px;
    color: white;
}
.navbar li a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    padding: 10px;
    background-color: blueviolet;
    /* border-radius: 8px; */
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-width: 1.8px;
    border-color: white;
    border-style: solid;
}
.navbar section li a:hover {
    color: rgb(12, 31, 31);
    background-color: darkgoldenrod;
}
.navbar-links{
    display: flex;
}
/* End of Nav bar */

/* first section of the site containing image */

#tip img {
    display: flex;
    /* height: 600px; */
    width: 60%;
    border-radius: 10px;


}

/* End of first section */

/* Tech button style */
h3{
    background-color: rgb(78, 52, 230);
    width: 20%;
    text-align: center;
    border-radius: 50px;
    padding: 8px;
    color: white;
}
/* end of tech button */

/* start of middle section of new tech */

#sect {

}

/* last section */

#prof {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

#prof img {
    height: 50px; width: 50px; 
    border-radius: 50%;
}

#prof div h4 {
    margin-bottom: -18px;
}