@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body{
    background-color:black;
    margin: auto;
    padding: 100px;
    color: white;
}
table{
    background-color: azure;
    margin: auto;
    color: black;
}

/* made an id for the blockchain skills*/

#bs{
    background-color:wheat;
    color:black;
    padding: 20px;
    
}

/* made an id for the daily web3 task*/

#dwt{
    background-color: blueviolet;
    color: white;
    padding: 20px;
    text-align: center;
}